/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 110%;
	font: inherit;
	vertical-align: baseline;
}

/* #FF9900, #424242, #E9E9E9, #BCBCBC, #3299BB */
body {
	background: #fff;
	font: normal 110% Helvetica, Arial, sans-serif;
	color: #444;
}

/* Common for everyone */
a { color: #3299BB; text-decoration: none; }
a:hover { color: #FF9900; text-decoration: none; border: none; } 
a:active { position: relative; top: 1px; border: none; }

blockquote + p, dt + dd, dl + dl, dd + dd, p + p, ul + p, dl + p { margin-top: 1.2em; }

h2,  h3,  h4,  h5  h6 { margin-top: 1.2em; font-weight: bold; }
ul { list-style-type: square; margin-left: 1em; }
li { margin: auto 1em auto 1em; }

dt { font-style: italic; }

blockquote, dd { margin: 1.23em 2em auto 2em; }

em { font-style: italic; }

header {
	margin: .8em auto 0 auto;
	text-align: center;
}

header h1 { 
	font-size: 200%;
	font-weight: bold;
}

header a { color: #424242; }
header a .lastname { color: #3299BB; }

nav {
	margin: 0 auto;
	width: 650px;
 	border-top: 1px solid #E9E9E9; 
 	border-bottom: 1px solid #E9E9E9; 
}

nav br { clear: both; }

nav ul { 
	font-size: .9em;
	list-style-type: none; 
	margin: 0;
}

nav ul li { display: inline; margin: 0; padding: 0; }
nav ul li + li :before { content: " · "; }
nav ul li a {
	text-decoration: none;
	display: block; 
	float: left; 
	padding: .3em .2em;
}

nav form {
	float: right;
}

nav input {
	font-size: .8em;
	border: 0px;
	padding: .3em 0;
	margin: 0px;
	text-align: right;
}

section { 
	clear: both; 
	width: 625px; 
	margin: 1.5em auto; 
	font-size: .9em; 
	line-height: 1.5em;
}
section a[href^="http"]:hover { border-bottom: 2px solid #FF9900; }
section img { 
	border: 1px solid #BCBCBC;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888; 
	display: block;
	margin: .5em auto;
}

section h1 {
	margin-bottom: .5em; 
	font-size: 1.2em; 
	font-weight: bold;
	border-bottom: 1px solid #E9E9E9;

}

.pagination { text-align: center; margin-top: 1em; }
.pagination .prev { float: left; }
.pagination .next { float: right; }

code, pre {
	font-family: Courier;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
}

p {
	margin-bottom: 0;
} 

p>img {
	margin-bottom: 1em;
}

p + p {
	text-indent: 2em;
	margin-top: 0;
}

pre {
	overflow: scroll;
	margin: 15px 0;
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	padding: 6px 10px;
	border-radius: 3px;
	line-height: 19px;
}

sup  {
	vertical-align: super;
	font-size: .8em;
}

hr { 
	border: 0;
	height: 0;
	border-top: 1px solid #E9E9E9; 
}

div.footnotes { margin-top: 1em; padding-top: .5em;
				border-top: 1px solid #E9E9E9; 
				border-bottom: 1px solid #E9E9E9; 
				font-size: 0.8em; }
div.footnotes hr { display: none; }
div.footnotes ol { list-style: decimal; margin-left: 1em;}

/* Make the footer look reasonable */
footer { 
	margin: 0 auto;
	width: 650px; 
	clear: both; border-top: 1px solid #E9E9E9; font-size: 0.8em; text-align: center; padding: 1em 0;
}
/* footer a { color: #000; } */

#archive ul { list-style-type: none; margin: 0; }
#archive ul li { clear: both; border-bottom: 1px dotted #f9f9f9; margin-bottom: .5em; }
#archive ul li span { float: right; font-size: .9em; }

div.blog_entry { margin-bottom: 3em; }
div.blog_entry h2.topic a:before { content: "✔ "; }

div.blog_entry h2.topic { 
	margin-bottom: .5em; 
	font-size: 1.1em; 
	font-weight: bold;
}

div.blog_entry h2.topic .date { 
	float: right;
	margin-left: 1em;
	font-size: .8em;
	font-weight: normal;
}

div.blog_entry div.content div.tags { margin-top: 1em; } 
div.blog_entry div.permalink { text-align: center; }

@media screen and (min-width: 681px) and (max-device-width: 1024px) {
	/* rules for iPad in landscape orientation */
	section { width: 625px; }
} 

@media screen and (max-width: 640px) {
	/* iPhone, Android rules here */
	section { width: 100%; }
}

@media screen and (max-device-width: 480px) {
	/* iPhone, Android rules here */
	body { font-size: 2.5em; }
	section { width: 100%;  }
}

@media print {
	nav { display: none; }
	section { width: 100%; }
}
