<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>{{ page.title }} - {{ site.title }}</title>

<link rel="shortcut icon" href="/favicon.ico"> 
<link rel="alternate" type="application/rss+xml" title="Journal RSS"
	href="/atom.xml">

<link rel="stylesheet" href="/media/css/core.css">
</head>

<body>

<header>
	<div class="name">
		<a href="/">Nicholas<span class="lastname">Studt</span></a>
	</div>

	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/archive/">Archive</a></li>
			<li><a href="/code/">Code</a></li>
		</ul>
	</nav>

</header>

<section>
{{ content }}
</section>

<footer>
	<p>
		Copyright 2001-{{ site.time | date: "%Y" }}
		<a href="mailto:nicholas@nicholasstudt.com">Nicholas Studt</a>
	</p>
</footer>

{% include analytics.html %}

</body>
</html>
