<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>{{ page.title }} - {{ site.title }}</title>

<link rel="shortcut icon" href="/favicon.ico"> 
<link rel="alternate" type="application/rss+xml" title="Journal RSS"
	href="/atom.xml">

<link rel="stylesheet" href="/media/css/core.css">
</head>

<body>

<header>
	<div class="holder">
		<h1>
			<a href="/">Nicholas <span class="lastname">Studt</span></a>
		</h1>

		<div class="nav">
		<ul>
			<li><a href="/about/">About</a></li>
			<li><a href="/code/">Code</a></li>
			<li><a href="/archive/">Archive</a></li>
		</ul>

		<form action="http://google.com/search" method="get">
			<fieldset role="search">
			<input type="hidden" name="q" value="site:nicholasstudt.com" />
			<input class="search" type="text" name="q" results="0" placeholder="Search" accesskey="/" />
			</fieldset>
		</form>
		</div>
	</div>
</header>

<nav>
</nav>

<section>
{{ content }}
</section>

<footer>
	<p>
		Copyright 2001-{{ site.time | date: "%Y" }}
		<a href="mailto:nicholas@nicholasstudt.com">Nicholas Studt</a>
		-
		<a href="/atom.xml">RSS</a>
	</p>
</footer>

{% include analytics.html %}

</body>
</html>
