---
layout: default
---

<div class="blog_entry">
  <h2 class="topic"><a href="{{ page.url }}">{{ page.title }}</a>
	<span class="date">{{ page.date | date: "%d %B %Y" }}</span>
  </h2>

  <div class="content">
	{{ content }}  
    <div class="tags">
		{% assign tag_count = page.tags | size %}
		<strong>tag{% if tag_count > 1 %}s{%endif %}:</strong>
		{% for tag in page.tags %}
			<a href="/archive/tags/{{ tag }}">#{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}
	</div>
  </div>
</div>

