---
layout: default
---

<div class="blog_entry">
  <h2 class="topic"><a href="{{ page.url }}">{{ page.title }}</a>
	<span class="date">{{ page.date | date: "%d %B %Y" }}</span>
  </h2>

  <div class="content">
	{{ content }}  
    <div class="tags">
		{% assign tag_count = page.tags | size %}
		posted in
		{% for tag in page.tags %}
			<a href="/archive/tags/{{ tag }}">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}
	</div>
  </div>

  <div class="pagination">
	{% if page.previous %}
	<a href="{{ page.previous.url }}" class="prev">⇜ {{ page.previous.title }}</a>
	{% endif %}

	{% if page.next %}
	<a href="{{ page.next.url }}" class="next">{{ page.next.title }} ⇝</a>
	{% endif %}
  </div>

</div>


